<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/main-page.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous">
    </script>
</head>
<body>
<nav class="bs-secondary-bg navbar navbar-expand-lg header-navbar">
    <div class="container-fluid">
        <div class="header-navbar__text">
            <div class="navbar-brand header-navbar__text" th:text = "${authUser.getEmail()}" style="display: inline;">
                VALUE
            </div>
            <p th:if="${authUser.getAuthorities() != null}"  style="display: inline;">
                    With roles:
                    <span th:each="role : ${authUser.getAuthorities()}" th:text="${#strings.substring(role.getAuthority(), 5)} + ' '" th:if="${not #lists.isEmpty(authUser.getAuthorities())}">
                    </span>
            </p>
        </div>
            <form class="d-flex">
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </form>
        </div>
    </div>
</nav>
    <div class="main-content">
        <div class="main-content__left-part left-part">
            <div class="btn-group-vertical left-part__btns" role="group" aria-label="Vertical radio toggle button group">
                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary border-0" for="vbtn-radio1" onclick="redirectToAdimn()">Admin</label>

                <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                    <label class="btn btn-outline-primary border-0" for="vbtn-radio2" onclick="redirectToUser()">User</label>
            </div>
        </div>
        <div class="main-content__right-part right-part">
            <div class="right-part__content">
                <h3 class="right-part__head">Admin Panel</h3>

                <div class="right-part__nav">
                    <nav>
                        <div class="nav nav-tabs btn-group" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users table</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New user</button>
                        </div>
                    </nav>
                </div>


                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="right-part__main-content table-content" >
                            <h4 class="table-content__text">All users</h4>
                            <table class="table right-part__table">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                  </tr>
                                </thead>
                                <tbody id="userTableBody"></tbody>
                            </table>
                        </div>
                    </div>
<!--                    edit part-->

                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-popup__inputs" id="editForm">
                                        <div class="mb-3">
                                            <label for="editId" class="form-label modal_label">ID</label>
                                            <input type="text" name="id" class="form-control" id="editId" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editUsername" class="form-label">Username</label>
                                            <input type="text" name="username" class="form-control" id="editUsername" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editLastname" class="form-label">Lastname</label>
                                            <input type="text" name="lastname" class="form-control" id="editLastname" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editAge" class="form-label">Age</label>
                                            <input type="text" name="age" class="form-control" id="editAge" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editEmail" class="form-label">Email</label>
                                            <input type="text" name="email" class="form-control" id="editEmail" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editPassword" class="form-label">Password</label>
                                            <input type="text" name="password" class="form-control" id="editPassword" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="editRoles" class="form-label">Roles</label>
                                            <select class="form-select" id="editRoles" name="roles">
                                                <option value="1" selected>User</option>
                                                <option value="2">Admin</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" id="closeEdit" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="saveEditBtn">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-popup__inputs" id="deleteForm">
                                        <div class="mb-3">
                                            <label for="deleteId" class="form-label modal_label">ID</label>
                                            <input type="text" name="id" class="form-control" id="deleteId" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>

                                        <div class="mb-3">
                                            <label for="deleteUsername" class="form-label">Username</label>
                                            <input type="text" name="username" class="form-control" id="deleteUsername" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>

                                        <div class="mb-3">
                                            <label for="deleteLastname" class="form-label">Lastname</label>
                                            <input type="text" name="lastname" class="form-control" id="deleteLastname" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>

                                        <div class="mb-3">
                                            <label for="deleteAge" class="form-label">Age</label>
                                            <input type="text" name="age" class="form-control" id="deleteAge" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>

                                        <div class="mb-3">
                                            <label for="deleteEmail" class="form-label">Email</label>
                                            <input type="text" name="email" class="form-control" id="deleteEmail" readonly="readonly" aria-describedby="basic-addon3 basic-addon4">
                                        </div>
                                        <div class="mb-3">
                                            <label for="deleteRoles" class="form-label">Roles</label>
                                            <select class="form-select" id="deleteRoles" name="roles" disabled>
                                                <option value="1" selected>User</option>
                                                <option value="2">Admin</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" id="closeDelete" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger" id="saveDeleteBtn">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <h4 class="table-content__text">New user</h4>
                        <form class="form-popup__inputs" id="newUserForm">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" aria-describedby="basic-addon3 basic-addon4">
                            </div>

                            <div class="mb-3">
                                <label for="lastname" class="form-label">Lastname:</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="basic-addon3 basic-addon4">
                            </div>

                            <div class="mb-3">
                                <label for="age" class="form-label">Age:</label>
                                <input type="text" class="form-control" id="age" name="age" aria-describedby="basic-addon3 basic-addon4">
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" class="form-control" id="email" name="email" aria-describedby="basic-addon3 basic-addon4">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="text" class="form-control" id="password" name="password" aria-describedby="basic-addon3 basic-addon4">
                            </div>

                            <div class="mb-3">
                                <label for="roles" class="form-label">Roles</label>
                                <select class="form-select" id="roles" name="roles">
                                    <option value="2" selected>Admin</option>
                                    <option value="1">User</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script>
        function redirectToAdimn() {
            window.location.href = "/admin";
        }

        function redirectToUser() {
            window.location.href = "/user";
        }
    </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script>
        function editModal(userId) {
            $.ajax({
                type: "GET",
                url: `/admin/get/${userId}`,
                success: function(user) {
                    $('#editId').val(user.id);
                    $('#editUsername').val(user.username);
                    $('#editLastname').val(user.lastname);
                    $('#editAge').val(user.age);
                    $('#editEmail').val(user.email);
                    $('#editPassword').val(user.password);
                    $('#editRoles').val(user.roles[0].id);
                }
            })
        }

        function deleteModal(userId) {
            $.ajax({
                type: "GET",
                url: `/admin/get/${userId}`,
                success: function(user) {
                    $('#deleteId').val(user.id);
                    $('#deleteUsername').val(user.username);
                    $('#deleteLastname').val(user.lastname);
                    $('#deleteAge').val(user.age);
                    $('#deleteEmail').val(user.email);
                    $('#deletePassword').val(user.password);
                    $('#deleteRoles').val(user.roles[0].id);
                }
            })
        }

        function refreshUserTable() {
            $.ajax({
                type: "GET",
                url: "/admin/get",
                success: function(data) {
                    $('#userTableBody').empty(); // Clear the existing user table
                    // Populate the user table with the updated data
                    data.forEach(function(user) {
                        let rolesString = '';
                        user.roles.forEach(function(role) {
                            rolesString += role.name.substring(5) + ' ';
                        });
                        $('#userTableBody').append(
                            `<tr>
                                <td>${user.id}</td>
                                <td>${user.username}</td>
                                <td>${user.lastname}</td>
                                <td>${user.age}</td>
                                <td>${user.email}</td>
                                <td>${rolesString}</td>
                                <td><button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editModal" onclick="editModal(${user.id})">Edit</button></td>
                                <td><button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal" onclick="deleteModal(${user.id})">Delete</button></td>
                            </tr>`
                        );
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching user data:", error);
                }
            });
        }

        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/admin/get",
                success: function(data) {
                    $('#userTableBody').empty();
                    data.forEach(function(user) {
                        let rolesString = '';
                        user.roles.forEach(function(role) {
                            console.log(role.name);
                            rolesString += role.name.substring(5) + ' ';
                        })
                        $('#userTableBody').append(
                            `<tr>
                                <td>${user.id}</td>
                                <td>${user.username}</td>
                                <td>${user.lastname}</td>
                                <td>${user.age}</td>
                                <td>${user.email}</td>
                                <td>${rolesString}</td>
                                <td><button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editModal" onclick="editModal(${user.id})">Edit</button></td>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="deleteModal(${user.id})">Delete</button></td>
                              </tr>`
                        );
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching user data:", error);
                }
            });
        });

        $("#editForm").submit(function(event) {
            event.preventDefault();
            var roles = [];
            var userId = $("#editId").val();
            $('#editRoles option:selected').each(function() {
                var roleId = $(this).val();
                var roleName = $(this).text();
                var backendName;
                switch(roleName) {
                    case "Admin":
                        backendName = "ROLE_ADMIN"
                        break;
                    case "User":
                        backendName = "ROLE_USER"
                        break;
                }
                var role = { id: roleId, name: backendName };
                roles.push(role);
            });

            let formData = {
                username:$("#editUsername").val(),
                lastname:$("#editLastname").val(),
                age:$("#editAge").val(),
                email:$("#editEmail").val(),
                password:$("#editPassword").val(),
                roles: roles
            }

            $.ajax({
                type:"POST",
                url: `admin/edit/${userId}`,
                contentType:"application/json",
                data: JSON.stringify(formData),
                success: function() {
                    refreshUserTable();
                    $('#editModal').modal('hide');
                },
                error:function(xhr,status,error) {
                    console.error("Error creating user:", error);
                    console.log("XHR object:", xhr);
                    alert("Failed creating user");
                }
            });
            $('#closeEdit').click();
        });

        $("#deleteForm").submit(function(event) {
            event.preventDefault();
            var userId = $("#deleteId").val();

            $.ajax({
                type:"POST",
                url: `admin/delete/${userId}`,
                contentType:"application/json",
                success: function() {
                    refreshUserTable();
                    $('#editModal').modal('hide');
                },
                error:function(xhr,status,error) {
                    console.error("Error deleting user:", error);
                    console.log("XHR object:", xhr);
                    alert("Failed deleting user");
                }
            });
            $('#closeDelete').click();
        });






        //код для вкладки нового юзера
        $("#newUserForm").submit(function(event) {
            event.preventDefault();
            var roles = [];
            $('#roles option:selected').each(function() {
                var roleId = $(this).val();
                var roleName = $(this).text();
                var backendName;
                switch(roleName) {
                    case "Admin":
                        backendName = "ROLE_ADMIN"
                        break;
                    case "User":
                        backendName = "ROLE_USER"
                        break;
                }
                var role = { id: roleId, name: backendName };
                roles.push(role);
                $('#nav-home-tab').click();
            });

            let formData = {
                username:$("#username").val(),
                lastname:$("#lastname").val(),
                age:$("#age").val(),
                email:$("#email").val(),
                password:$("#password").val(),
                roles: roles
            }

            $.ajax({
                type:"POST",
                url: "/admin/new",
                contentType:"application/json",
                data: JSON.stringify(formData),
                success: function() {
                    alert("User added")
                    refreshUserTable();
                },
                error:function(xhr,status,error) {
                    console.error("Error creating user:", error);
                    console.log("XHR object:", xhr);
                    alert("Failed creating user");
                }
            });
        });



    </script>
</body>
</html>